<!--公共头部 -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=9" /> -->
    <title>后台管理</title>

    <!-- <script type="text/javascript" src="JS/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="JS/bootstrap.js"></script>
    <script type="text/javascript" src="JS/bootstrap-hover-dropdown.js"></script>
    <script type="text/javascript" src="JS/moment-with-locales.js"></script>
    <script type="text/javascript" src="JS/bootstrap-datetimepicker.js"></script>
     -->

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet"/>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.js"></script>
    <!--   鼠标经过下拉标签时，自动显示标签 -->
    <script type="text/javascript" src="../../static/js/bootstrap-hover-dropdown.js"
            th:src="@{/js/bootstrap-hover-dropdown.js}"></script>
    <!-- <script src="//cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script> -->
    <script type="text/javascript" src="../../static/js/moment-with-locales.js"
            th:src="@{/js/moment-with-locales.js}"></script>
    <!-- <script type="text/javascript" src="http://apps.bdimg.com/libs/moment/2.8.3/moment-with-locales.js"></script> -->


    <!-- 设置表格内容居中显示 -->
    <style>
        .table th {
            text-align: center;
        }

        .table tr {
            text-align: center;
        }

        html {
            over-flow: -moz-scrollbars-vertical;

        }

        ::-webkit-scrollbar {
            width: 0px;
        }

        .my_table {
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .my_table.td {
            width: 16%;
        }

        .clear {
            clear: both
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="nav">
    <div class="navbar-header" style="padding-left: 40px;">
        <button class="navbar-toggle" data-target="#example-navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">
          切换导航
      </span>
            <span class="icon-bar">
      </span>
            <span class="icon-bar">
      </span>
            <span class="icon-bar">
      </span>
        </button>
        <a class="navbar-brand" th:href="@{/admin/home}"><strong>竞赛后台管理</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <!--  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="100">
                   题目管理 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                   <li><a href="{:U("questions/index",'','')}">题目列表</a></li>
                   <li><a href="{:U("questions/export",'','')}">导出题目</a></li>
                   <li><a href="{:U("questions/import",'','')}">导入题目</a></li>

                </ul>
             </li> -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="100">
                    考试管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="" th:href="@{/admin/exam}">考试列表</a></li>
                    <li><a href="../admin/exam/exam_add.html" th:href="@{/admin/exam/add}">添加考试</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="100">
                    资料管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">资料列表</a></li>
                    <li><a href="">资料上传</a></li>
                </ul>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="100">
                    管理员管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">管理员列表</a></li>
                    <li><a class="btn" data-toggle="modal" data-target="#add_admin" style="text-align: left;">添加管理员</a>
                    </li>
                </ul>
            </li>
            <li><a href="">登录背景</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right" style="padding-right: 50px;">
            <li><a href="/">网站首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="100">
                    <span id="show_nickname" th:inline="text">[[${session.admin.nickname}]]</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!-- <li><a class="btn" data-toggle="modal" data-target="#add_admin" data-toggle="dropdown" style="text-align: left;">修改资料</a></li> -->
                    <li><a class="btn" data-toggle="modal" data-target="#modify_password"
                           style="text-align: left;">修改密码</a></li>
                    <li><a class="btn" data-toggle="modal" data-target="#modify_info"
                           style="text-align: left;">修改资料</a></li>
                    <!--  <li><a herf="{:U('Admin/admin/modify')}">修改密码</a></li> -->
                    <li role="separator" class="divider"></li>
                    <li><a th:href="@{/admin/logout}" href="login.html">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!-- 修改密码框 -->
<div class="modal fade bs-example-modal-sm" id="modify_password" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" th:fragment="modify_password">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="input-group " id="id">
                        <span class="input-group-addon" id="sizing-addon1">
                          <span> 旧密码
                          </span>
                        </span>
                        <input id="old_password" name="old_password" class="form-control" type="password"/>
                    </div>
                    <br/>
                    <div class="input-group " id="id">
                        <span class="input-group-addon" id="sizing-addon1">
                          <span> 新密码
                          </span>
                        </span>
                        <input id="new_password" name="new_password" class="form-control" type="password"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" onClick="check_password()" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 修改个人信息 -->
<div class="modal fade bs-example-modal-sm" id="modify_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     th:fragment="modify_info">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改信息</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="input-group " id="id">
            <span class="input-group-addon" id="sizing-addon1">
              <span> 昵称
              </span>
            </span>
                        <!--<input id="nickname" name="nickname" class="form-control"-->
                        <!--th:placeholder="${session.admin.nickname}" type="text"/>-->
                        <input id="nickname" name="nickname" class="form-control"
                               th:placeholder="${session.admin.nickname}" type="text"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onClick="check_nickname()">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 添加管理员 -->
<div class="modal fade bs-example-modal-sm" id="add_admin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     th:fragment="add_admin">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加管理员</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="input-group " id="id">
            <span class="input-group-addon" id="sizing-addon1">
              <span> 登录名
              </span>
            </span>
                        <input id="add_admin_name" name="add_admin_name" class="form-control" placeholder="" type="text"
                               value=""/>
                    </div>
                    <br/>
                    <div class="input-group " id="id">
            <span class="input-group-addon" id="sizing-addon1">
              <span> 昵&nbsp;&nbsp;&nbsp;称&nbsp;
              </span>
            </span>
                        <input id="add_nickname" name="add_nickname" class="form-control" placeholder="" type="text"
                               value="" autocomplete="off"/>
                    </div>
                    <br/>
                    <div class="input-group " id="id">
            <span class="input-group-addon" id="sizing-addon1">
              <span> 密&nbsp;&nbsp;&nbsp;码&nbsp;
              </span>
            </span>
                        <input id="add_admin_password" name="add_admin_password" class="form-control" placeholder=""
                               type="password" value="" autocomplete="off"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onClick="do_add_admin()">添加</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:fragment="js">
    $("#add_admin_name").text("");
    $("#add_nickname").text("");
    $("#add_admin_password").text("");

    /*检查信息是否合法*/
    function check_password() {
        var old_password = $("#old_password").val();
        var new_password = $("#new_password").val();
        if (old_password == "") {
            alert("旧密码未填写");
            $("#old_password").focus();
            return;
        }
        if (new_password == "") {
            alert("新密码未填写");
            $("#new_password").focus();
            return;
        }
        if (new_password.length > 16 || new_password.length < 6) {
            alert("密码必须大于6位或小于16位");
            $("#new_password").focus();
            return;
        }

        var url = "modifyPassword"
        jQuery.post(url, {
            old_password: old_password,
            new_password: new_password
        }, function (msg) {
            if (msg.code == 200) {
                alert(msg.message)
                /*var modify_url = "{:U('admin/admin/modifyPassword','','')}"
                jQuery.post(modify_url, {
                    new_password: new_password,
                }, function (msg) {
                        if (msg.info == 'ok') {
                        alert(msg.msg);

                    } else {
                        alert(msg.msg);
                    }
                }, 'json').error(function () {
                    alert("网络连接错误，请稍后再试");
                });*/
                $("#modify_password").modal("hide");
            } else {
                alert(msg.message);
                $("#old_password").focus();
            }
        }, 'json').error(function () {
            alert("网络连接错误，请稍后再试");
        });
    }

    /*检查信息是否合法*/
    function check_nickname() {
        var nickname = $("#nickname").val();
        if (nickname == "") {
            alert("没有填写昵称！");
            $("#nickname").focus();
        } else {
            var modify_url = "modifyNickname"
            jQuery.post(modify_url, {
                nickname: nickname,
            }, function (msg) {
                if (msg.code == 200) {
                    $("#show_nickname").text(nickname);
                    $("#modify_info").modal("hide");
                    alert(msg.msg);
                } else {
                    alert(msg.msg);
                }
            }, 'json').error(function () {
                alert("网络连接错误，请稍后再试");
            });
        }

    }


    function do_add_admin() {
        var admin_name = $("#add_admin_name");
        var nickname = $("#add_nickname");
        var password = $("#add_admin_password");
        if (admin_name.val() == "") {
            alert("登录名不能为空！");
            admin_name.focus();
            return false;
        } else if (nickname.val() == "") {
            alert("昵称不能为空！");
            nickname.focus();
            return false;
        } else if (password.val == "") {
            alert("密码不能为空！")
            password.focus();
            return false;
        } else if (password.val().length > 16 || password.val().length < 6) {
            alert("密码必须大于6位或小于16位");
            return false;
        } else {
            var url = "{:U('admin/admin/addAdmin','','')}";
            jQuery.post(url, {
                admin_name: admin_name.val(),
                nickname: nickname.val(),
                admin_password: password.val()
            }, function (msg) {
                if (msg.info == 'ok') {
                    alert(msg.msg);
                    window.location.href = msg.callback;
                } else {
                    alert(msg.msg);
                }
            }, 'json').error(function () {
                alert("网络连接错误，请稍后再试");
            });
        }
    }
</script>
</body>
</html>

<!-- 头部结束-->